.tooltipmsg {
    position: relative;
    display: inline-block;
   
  }
  
  .tooltipmsg .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 6px;
    border:solid 1px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -160px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltipmsg .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
  }
  
  .tooltipmsg:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  #msgPasswordStatus{
    margin: 0px !important;
    padding: 0px !important;
  }

  .text-upper {
    text-transform: uppercase;
}