 #yii-debug-toolbar {
            display: none !important;
        }

        .astric-sign {
            font-size: 15px;
            color: red;
        }

        .astric-sign {
            font-size: 15px;
            color: red;
        }

        .activeR {
            color: green !important;
            font-weight: bold;
        }

        #mynavbar {
            margin-top: -8px;
            margin-bottom: -8px;
        }

        #mynavbar .navbar-nav .nav-link {
            font-size: 15px;
            color: rgb(255 255 255);
            padding-right: 0.9rem;
            padding-left: 0.9rem;
            font-weight: 500;
        }

        .nav-link1 {
            font-weight: 400;
            letter-spacing: -.1px;
            height: 40px;
            padding: 0 10px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            white-space: nowrap;
            margin-top: 2px;
            color: #262626;
            border-bottom: dotted 1px #a1b1cb;
        }

        .nav-link1 svg {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            margin-right: 12px;
            stroke-width: 1.5px
        }

        .nav-link1:hover,
        .nav-link1:focus {
            background-color: rgb(235 138 43);
            color: #ffffff;
        }

        .nav-link1 span {
            transition: all .3s
        }

        .ugc-board {
            font-family: 'Roboto', sans-serif;
        }

        .header-main {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .footer {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }

        .skin-dark .sub-link1 {
            font-family: 'Roboto', sans-serif !important;
            font-size: 14px !important;
        }

        .ri-user-line,
        .ri-phone-line,
        .ri-bank-card-line,
        .ri-award-line,
        .ri-medal-2-line,
        .ri-gallery-upload-line,
        .ri-checkbox-circle-line {
            margin-right: 4px !important;
        }

        .col-form-label {
            font-family: 'Roboto', sans-serif;
            font-size: 14px !important;
        }

        .card {
            background-color: #fbfcfd;
            border: none;
        }

        .navbar-nav {
            margin-left: -10px;
        }